/* @import '../color.css';
.admin{
  color: #1372bb;
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  margin: 0 0 5px 0px;
  text-align: center;
}
:root {
  --height: 45px;
  --radius: 5px;
  --padding: 30px;
  --padding-mobile: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.login_container {
  display: flex;
}

.login_form_icon {
  height: 40px;
  width: 88px;
  object-fit: cover;
  margin: var(--padding) 0 0 var(--padding);
}

.login_form_logo {
  width: 100px;
  object-fit: cover;
  margin: 60px auto 30px auto;
}

.login_form_title_row {
  display: flex;
  padding: 10px 10px 0 0;
  justify-content: flex-end;
}

.login_form_title {
  color: var(--text-color);
  font-size: 20px;
  line-height: 29px;
  margin: 0;
  flex: 1;
}

.login_form_decoration {
  color: var(--link-color);
  font-size: 36px;
  padding-left: 1px;
}

.login_input_container {
  margin: var(--padding-mobile) 0;
}

.login_input_label {
  color: var(--text-color);
  font-size: 15px;
  font-weight: 550;
  line-height: 24px;
  margin: 0 0 5px 0px;
}

.login_input_back {
  display: flex;
  position: relative;
  background-color: var(--hover2-color);
  border-radius: var(--radius);
  width: 100%;
  border: none;
}

.login_input_back:focus-within {
  display: flex;
  position: relative;
  background-color: white;
  border-radius: var(--radius);border-width: 1px;
  border-style: solid;
  border-color: var(--link-color);  background-color: rgba(0, 0, 0, 0);
 
  -webkit-box-shadow: 0 0 3px 2px var(--link-color2);
  -moz-box-shadow: 0 0 3px 2px var(--link-color2);
  box-shadow: 0 0 3px 2px var(--link-color2);
}

.ant-input {
  all: unset;
  height: var(--height);
  flex: 1;
  border-radius: var(--radius);
  color: var(--text-color);
  font-size: 16px;
  padding: 0 10px;
}

.ant-input:focus {

}

.ant-input-affix-wrapper-focused {
  background-color: var(--root-color) !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: var(--link-color) !important;
  border-radius: var(--radius) !important;
  -webkit-box-shadow: 0 0 3px 2px var(--link-color2) !important;
  -moz-box-shadow: 0 0 3px 2px var(--link-color2) !important;
  box-shadow: 0 0 3px 2px var(--link-color2) !important;
  overflow: 'hidden' !important;
}

.input-password {
  border: none;
  flex: 1;
  border-radius: var(--radius);
  color: var(--text-color);
  font-size: 16px;
  padding: 0 10px;
  background-color: var(--hover2-color);
}


.login_input_icon {
  position: absolute;
  right: 10px;
  font-size: 24px;
  color: var(--text-color2);
  height: var(--height);
}

.login_form_btn {
  box-shadow: none;
  border: none;
  background-color: var(--link-color);
  height: var(--height);
  min-height: var(--height);
  width: 100%;
  border-radius: var(--radius);
  color: var(--root-color);
  font-size: 16px;
  font-weight: 550;
  text-align: center;
  margin-top: var(--padding-mobile);
}

.login_form_btn:hover {
  background-color: var(--hover-color);
}

.copyright_text {
  color: var(--text-color2);
  font-size: 14px;
  text-align: center;
  margin: 0 auto 15px auto;
}

.copyright_text:hover {
  color: var(--link-color);
}

@media only screen and (max-width: 440px) {
  .login_image_container {
    display: none;
  }

  .login_image {
    display: none;
  }

  .login_slides {
    display: none;
  }

  .login_form {
    flex: 1;
    min-height: 85vh;
    display: flex;
    
    background-color: var(--root-color);
  }

  .login_form_container {
    flex: 1;
    display: flex;
    flex-flow: column;
  }

  .login_form_back {
    flex: 1;
    padding: var(--padding);
  }
}

@media only screen and (min-width: 440px) and (max-width: 720px) {
  .login_image {
    object-fit: cover;
    height: 100vh;
    width: 100%;
  }

  .login_slides {
    display: none;
  }

  .login_form {
    position: absolute;
    background-color: var(--root-color);
    border-radius: 15px;
    width: 80vw;
    top: 10vh;
    right: 10vw;
    height: 80vh;
    display: flex;
    overflow-y: scroll;
  }

  .login_form_container {
    flex: 1;
    display: flex;
    flex-flow: column;
  }

  .login_form_back {
    flex: 1;
    padding: 20px 30px;
    
  }
}

@media only screen and (min-width: 720px) {
 

  .login_slides {
    height: 100vh;
    width: 70vw;
    display: flex;
  }

  .login_image {
    object-fit: cover;
    height: 100vh;
    width: 70vw;
    overflow-y: hidden;


  }

  .login_form {
    flex: 1;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 30%;
    background-color: #dbdee0;
   
  }

  .login_form_container {
    height: 100%;
    display: flex;
    flex-flow: column;
    max-width: 700px;
    margin: auto;
  }

  .login_form_back {
    padding: 20px 30px;
    flex: 1;
  }
}

.swiper-pagination-bullet.swiper-pagination-bullet {
  background-color: var(--hover2-color);
  opacity: 0.3;
  border-radius: 0;
  height: 8px;
  width: 8px;
  border-radius: 10px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--menu-back-color);
  width: 8px;
  height: 8px;
  border-radius: 10px;
  opacity: 1;
} */