@import '../color.css';

:root {
  --padding-table: 15px;
  --radius-table: 5px;
  --padding-gap: 10px;
  --padding-gap2: 6px;
}
@media only screen and (min-width: 440px) {
  .empty_img {
    filter: var(--placeholder-filter);
    width: 200px;
    height: 200px;
  }
}

@media only screen and (max-width: 440px) {
  .empty_img {
    filter: var(--placeholder-filter);
    width: 120px;
    height: 120px;
  }
}
.ant-spin-nested-loading {
  position: relative;
  margin-top: 15px;
} 
.table1{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum', "tnum";
  position: relative;
  font-size: 14px;
  background: #fff;
  border-radius: 2px;
  overflow-x: scroll;
}
.ant-table {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum', "tnum";
  position: relative;
  font-size: 14px;
  background: #fff;
  border-radius: 2px;
  /* overflow: scroll; */
}
.ant-table-pagination-right {
  justify-content: flex-start;
}
.ant-pagination-item-link{
  background-color:  rgb(245 246 247);
  /* border: hidden; */
}
.ant-pagination-item a {
  display: block;
  padding: 0 3px;
  transition: none;
}
.ant-pagination-item-active {
  display: block;
  padding: 0 3px;
  /* background-color: var(--link-color);
  color: black; */
  transition: none;
  border-radius: 5px;
}
.ant-pagination-options {
  display: inline-block;
  margin-left: 16px;
  vertical-align: middle;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  background-color: var(--root-color1);
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  position: relative;
  background-color:  rgb(245 246 247);
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
/* .pagination{
  /* border: solid; 
  position: absolute;
  margin-top: 300px;
} */
.ant-table-thead{
  text-align: center;
  color: #2159b0;
}
.ant-table-tbody > tr > td{
  padding: 2px 10px;
  /* overflow-x: scroll */
}
.ant-table-thead > tr > th {
  position: relative;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  font-size: 13px;
  text-align: center;
  background: #fafafa;
  border-bottom: 1px solid #f0f0f0;
  background-color: #f0f0f0;
  padding: 0px 20px;
  /* transition: background 0.3s ease;  */
}
.ant-table-wrapper {
  clear: both;
  /* width: 100%; */

}
.ant-table table{
  /* width: auto; */
}
/* .ant-table-thead{
  width: fit-content;
  display: flex;
  flex: 1;
} */
.empty_back {
  display: flex;
  flex-flow: column;
  align-items: center;
  flex: 1;
  margin-top: var(--padding-table);
  background-color: var(--root-color);
  border-radius: var(--radius-table);
  justify-content: center;
}

#empty_id {
  margin-top: 0;
}

.empty_text {
  color: var(--back-color);
  font-weight: bold;
  margin: 0;
  font-size: 16px;
}

.table_container {
  overflow-x: scroll;
  overflow-y: scroll;
  margin: var(--padding-table) 0 0 0;
  border-radius: var(--radius-table);
}

.table_back {
  background-color: var(--root-color);
  /* width: 100%; */
  /* min-width: 600px; */
  flex: 1;
}

.table_header_text {
  color: var(--text-color);
  text-align: center;
  padding: var(--padding-gap2);
  font-size: 14px;
  font-weight: 600;
  position: sticky;
  top: 0;
  background-color: var(--root-color);
}

.table_header_cell {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.table_sort {
  display: flex;
  flex-flow: column;
  margin-left: 5px;
}

.table_sort_icon {
  color: var(--back-color);
}

.table_sort_icon_selected {
  color: var(--link-color);
}

.table_body_back {
  background-color: var(--root-color);
}

.table_row {
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: var(--border-color);
  cursor: pointer;
}

.table_row_selected {
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: var(--border-color);
  cursor: pointer;
  background-color: var(--link-color3);
}

.table_cell_text {
  color: var(--text-color);
  font-size: 14px;
  padding: var(--padding-gap2);
}

.table_back {
  border-collapse: separate;
  border-spacing: 0;
}

.table_back th {
  border-bottom: 1px solid var(--border-color);
}

.ant-table tbody > tr> td {
  border-top: 1px solid var(--border-color)
}

.ant-table-thead > tr > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
  position: absolute;
  top: 50%;
  right: 0;
  /* width: 0  ; */
  height: 0em;
  background-color: rgba(0, 0, 0, 0.06);
  transform: translateY(-50%);
  transition: background-color 0.3s;
  content: '';
}
.ant-table th:not(:last-child), .ant-table td:not(:last-child) {
  border-right: 1px solid var(--border-color);
}

tr > th:last-child {
  text-align: center;
}
.table_footer {
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: var(--border-color);
}

.table_footer_text {
  color: var(--text-color);
  text-align: left;
  padding: var(--padding-gap2);
  font-size: 15px;
  font-weight: 600;
  position: sticky;
  bottom: 0;
  background-color: var(--root-color);
}

.pagination_back {
  margin-top: var(--padding-gap);
  display: flex;
  flex-flow: row;
  align-items: center;
  min-height: 40px;
}

.pagination_btn {
  display: flex;
  flex-flow: row;
  border: none;
  align-items: center;
  justify-content: center;
  align-content: center;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0);
  padding: 0 3px;
}

.pagination_btn:hover {
  background-color: var(--link-color3);
  border-radius: 5px;
  cursor: pointer;
}

.pagination_arrow {
  color: var(--link-color);
  font-size: 20px;
}

.pagination_arrow_disabled {
  color: var(--header-mobile-color);
  font-size: 20px;
}

.pagination_dots {
  color: var(--header-mobile-color);
  font-size: 20px;
}

.page_current_btn {
  border: none;
  box-shadow: none;
  background-color: var(--link-color);
  border-radius: var(--radius-table);
  margin: 0 2px;
  min-width: 30px;
}

.page_btn {
  border: none;
  box-shadow: none;
  margin: 0 2px;
  background-color: rgba(0, 0, 0, 0);
  min-width: 30px;
}

.page_btn:hover {
  background-color: var(--link-color3);
  border-radius: 5px;
  cursor: pointer;
}

.page_current_text {
  color: var(--root-color);
  font-weight: 600;
  font-size: 14px;
}

.page_text {
  color: var(--header-mobile-color);
  font-weight: 600;
  font-size: 14px;
}

.page_select {
  margin-left: 10px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--border-color);
  overflow: hidden;
}

.page_select .ant-select-selector {
  background-color: rgba(0, 0, 0, 0) !important;
  color: var(--text-color) !important;;
}

.page_select:focus-within {
  border-color: var(--link-color);
  -webkit-box-shadow: 0 0 3px 2px var(--link-color2);
  -moz-box-shadow: 0 0 3px 2px var(--link-color2);
  box-shadow: 0 0 3px 2px var(--link-color2);
}

.footer_label {
  color: var(--text-color2);
  text-align: right;
  font-size: 13px;
  font-weight: 550;
  margin: 0;
}

.footer_value {
  color: var(--text-color);
  text-align: right;
  font-size: 14px;
  font-weight: 550;
  margin: 0;
}

.detail_back {
  background-color: var(--hover2-color);
  padding: 10px 0 10px 0;
}

.detail_table {
  border-radius: var(--radius-table);
  overflow-y: scroll;
  max-height: 55vh;
  padding: 0 10px 0 20px;
}

.expand_icon {
  color: var(--text-color2);
  font-size: 22px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  margin: auto 0;
  text-align: center;
}

.table_check {
  color: var(--link-color);
  font-size: 20px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  margin: auto 5px;
  text-align: center;
}

.table_check1 {
  color: var(--link-color);
  font-size: 20px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  margin: auto 5px;
  text-align: center;
}

.table_check:hover {
  cursor: pointer;
  color: var(--hover-color);
}

.disabled_check {
  color: var(--text-color2);
  font-size: 20px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  margin: auto 5px;
  text-align: center;
}

.table_descr {
  color: var(--text-color2);
  font-size: 14px;
  text-align: left;
  margin: -4px 5px 5px 5px;
  line-height: 15px;
}

.cancel_row {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.cancel_btn {
  height: 36px;
  background-color: var(--danger-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  box-shadow: none;
  border-radius: 5px;
  border: none;
  margin: 0;
}

.cancel_btn:hover {
  cursor: pointer;
}

#cancel_page {
  margin-top: 0;
}

.cancel_icon {
  color: var(--root-color);
  font-size: 16px;
}

.cancel_text {
  color: var(--root-color);
  font-size: 15px;
  font-weight: 550;
  margin-left: 5px;
}

#expand_row {
  padding: 12px var(--padding-gap2);
}

.table_link {
  color: var(--link-color);
  text-decoration: underline;
}

.sub_title {
  color: var(--text-color);
  margin: 10px 0 -10px 10px;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
}

.print1_btn {
  height: 36px;
  width: 36px;
  background-color: var(--link-color);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  border-radius: 5px;
  border: none;
  margin: 0;
}

.print1_btn:hover, .save1_btn:hover {
  cursor: pointer;
}

.print1_icon {
  color: var(--root-color);
  font-size: 20px;
}

.save1_btn {
  height: 36px;
  width: 135px;
  margin-left: 10px;
  background-color: var(--link-color);
  box-shadow: none;
  border-radius: 5px;
  border: none;
}

.save1_text {
  color: var(--root-color);
  font-size: 15px;
  font-weight: 550;
  margin-left: 5px;
}

.save1_btn:disabled {
  background-color: var(--link-color2);
}

.page_showing {
  color: var(--text-color2);
  margin-left: auto;
  font-size: 14px;
  font-weight: 600;
  padding-left: 10px;
}