@import './color.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  /* scrollbar-width: none; */
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px
}
/* ::-webkit-scrollbar-button {
  background: #eee
} */

::-webkit-scrollbar-thumb {
  background: #ccc;
 border-radius: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-spin.ant-spin-lg.ant-spin-spinning  {
  margin-top: 50px;
  width: 100%;
}

.loading {
  position: absolute;
  top: 50%;
  right: 50%;
}
.error {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 15px;
}

.error_back {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 5px;
}

.error_back_no_margin {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.error_icon {
  color: var(--danger-color);
  font-size: 18px;
}

.error_text {
  color: var(--danger-color);
  font-size: 14px;
  margin-left: 5px;
}


.login_loader {
  width: 100%;
  height: 20px;
}

.menu_language_back {
  padding: 5px;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.menu_language_logo {
  height: 15px;
  margin-right: 10px;
}

.menu_language {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
}
.menu_logout_back {
  padding: 5px;
  display: flex;
  flex-flow: row;
  align-items: center;
}
.menu_logout {
  color: var(--text-color);
  font-size: 15px;
  font-weight: 600;
  margin-left: 3px;
}


.menu_language_btn {
  display: flex;
  align-items: center;
}


.menu_language_btn:hover {
  cursor: pointer;
}

.menu_language_btn:hover .menu_language_link {
  color: var(--link-color);
}

.menu_language_btn:hover .menu_language_arrow {
  color: var(--link-color);
}

.menu_language_link {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
}

.menu_language_arrow {
  color: var(--text-color);
  font-size: 20px;
}

.divider {
  background-color: var(--border-color);
  flex: 1;
  height: 1px;
}

.gap {
  padding: 5px;
}
@media only screen and (min-width: 960px) {
  .error1 {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .error_back1 {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-bottom: 5px;
    margin-left: 25px;
  }
  
  .error_back_no_margin1 {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-left: 20px;
    margin-top: 5px;
  }
  
  .error_icon1 {
    color: var(--danger-color);
    font-size: 20px;
  }
  
  .error_text1 {
    color: var(--danger-color);
    font-size: 14px;
    margin-left: 5px;
  }
}
@media only screen and (max-width: 960px) {
  .error1 {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .error_back1 {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-bottom: 5px;
    margin-left: 25px;
  }
  
  .error_back_no_margin1 {
    display: flex;
    flex-flow: row;
    align-items: center;
    /* margin-left: 20px; */
    margin-top: 5px;
  }
  
  .error_icon1 {
    color: var(--danger-color);
    font-size: 20px;
  }
  
  .error_text1 {
    color: var(--danger-color);
    font-size: 14px;
    margin-left: 5px;
  }
}